body {
  background-color: #323232;
  color: #e5e5e5;
  width: 50%;
  margin: 10% auto;
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-family: Georgia, serif;
}

@media only screen and (max-width: 760px) {
  body {
      width: 90%;
  }
}


a {
  color: #e5e5e5;
}

.introduction {
  margin-bottom: 16px;
}

.content { display: flex; }
.content .left {
  flex-basis: auto;
  flex-grow: 1;
}

@media only screen and (max-width: 760px) {
  .content {
      display: block;
  }
}

.text-center {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;

}

ul li {
  display: inline;
  margin-right: 8px;
}