* {
	margin: 0;
	padding: 0;
	font-family: tahoma;
	font-weight: normal;
}

a {
	text-decoration: none;
}

p {
	text-align: center;
	font-size: 23px;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}


h2 {
	font-family: arial;
	font-size: 40px;
	font-weight: bold;
	padding: 50px 0 50px 0;
	margin: 0 auto;
	text-transform: uppercase;
	color: #55847F;
}

.konten {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
}

.konten h2 {
	text-align: center;
}

.kolom {
	width: 320px;
	float: left;
}

.clear {
	clear: both;
}

#header {
  text-align: center;

}

#header #menu {
  margin-top: 50px; 
  margin-left: 620px;
}

#header #menu ul li {
	display: inline;
	padding-right: 20px;
	font-size: 30px;
}

#header #menu a {
	color: #fff ;
	font-weight: bold;
	text-shadow: 2px 2px 3px #323232;
}


#header #menu a:hover {
	color: #fff;
	border-bottom:5px solid white;

}

#box {
	background-color: rgba(113,176,170,0.6);
	color: white;
	text-transform: capitalize;
	font-size: 30px;
	margin: 120px 0;
	padding: 40px;
	text-align: center;
}

#box h1 {
	font-weight: bold;
}

#box a {
	display: block;
	border: 2px solid white;
	width: 300px;
	margin: 25px auto;
	padding: 5px 0;
	color: white;
	font-weight: bold;
	transition:1s;
}

#box a:hover {
	background-color: white;
	color: #55847f;
	font-weight: bold;
	transition:1s;
	-ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Safari */
  transform: rotate(-5deg); /* Standard syntax */
}


/*Bagian Pertama*/


#pertama {
	background: url('../images/bg-desk.png') no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-repeat:no-repeat;
	padding-top: 20px;
	height: 665px;
}

/*Bagian tentang saya*/
#tentang p{
	text-align: center;
	margin-bottom: 30px;
	font-size: 23px;
	font-family: lato;
	line-height: 1;
	font-weight: Light 300;
}

/*bagian skill*/

#skillsaya {
	background-image: url("../images/p1.png");
	margin: 0 auto;
}

#skillsaya img {
	width: 150px;
	height: 150px;
	margin: 20px;
	margin-right: 100px;
	float:left;
}

.kolom_3 {
	width: 320px;
	float: left;
	position: relative;
	left: 80px;
}

.kolom_3 p{
	position: absolute;
	display: none;
	top: 0px;
	left: 35px;
	width: 350px;
	text-align: center;
	line-height: 250px;
	font-size: 25px;
	color: white;
	background-color: rgba(102,204,102,0.6);
	font-weight: bold;
}


/* Kolom Pendidikan */


#pendidikan {	
	text-align: center;
}

#pendidikan img {
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
	transition:1s;
}

#pendidikan img:hover {
	cursor: pointer;
	width: 170px;
	height: 170px;
	transition:1s;
}

.kolom_pendidikan {
	width: 320px;
	float: left;
	position: relative;
	left: 10px;
}

.kolom_pendidikan p{
	padding-bottom: 20px;
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

.deskripsi_pendidikan {
	padding-bottom: 210px;
	width: 250px;
	margin: 0 auto;
}


/* bagian kedua */

#kedua {
	background-image: url("../images/p2.png");	
	text-align: center;
}

#kedua img {
	width: 250px;
	height: 250px;
	margin-bottom: 5px;
}

.karya_gambar {
	position: relative;
}

.karya_gambar p{
	position: absolute;
	display: none;
	top: 0px;
	left: 35px;
	width: 250px;
	text-align: center;
	line-height: 250px;
	font-size: 25px;
	color: white;
	background-color: rgba(102,204,102,0.6);
	font-weight: bold;
}

.karya_gambar:hover p {
	display: block;
	
}

.deskripsi {
	padding-bottom: 20px;
	width: 250px;
	margin: 0 auto;
}

/* Bagian ketiga*/

.kolom_2 {
	float: left;
	width: 450px;
	margin: 0 15px;
}

#ketiga {
	margin: 0 auto;
}

#ketiga input[type="text"], #ketiga input[type="email"], #ketiga textarea {
	display: block;
	width: 95%;
	height: 50px;
	padding: 5px;
	font-size: 23px;
	margin-bottom: 12px;
	border: 1px solid black;
	
}

input[type="submit"] {
	background-color: #639a95;
	color: white;
	display: block;
	width: 97.5%;
	height: 50px;
	font-size: 23px;
	margin-bottom: 12px;
	border: 1px solid black;

}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: #71b0aa;
}

#ketiga textarea {
	height: 130px;
}

#ketiga iframe {
	max-width: 450px;
	height: 350px;
}

/*footer*/

#footer {
	background-color: #71b0aa;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	font-size: 20px;
}
