* {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-weight: normal;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}


.konten {
	width: 960px;
	margin: 0 auto;
}

.kolom {
	width: 300px;
	float: left;
}

/*Bagian Pertama*/


#pertama {
	background: url('../images/bg-desk.jpg') no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	height: 650px;
	padding-top: 20px;

}

#header {
  text-align: center;

}

#header #menu {
  margin-top: 50px; 
  margin-left: 620px;
}

#header #menu ul li {
	display: inline;
	padding-right: 20px;
	font-size: 30px;
}

#header #menu a {
	color: #C0C0C0 ;
	font-weight: bold;
}


#header #menu a:hover {
	color: #fff;
}

#box {
	background-color: rgba(0, 0, 0,0.6);
	color: white;
	text-transform: capitalize;
	font-size: 30px;
	margin: 120px 0;
	padding: 40px;
	text-align: center;
}

#box h1 {
	font-weight: bold;
}

#box a {
	display: block;
	border: 2px solid white;
	width: 300px;
	margin: 25px auto;
	padding: 5px 0;
	color: white;
	font-weight: bold;
	transition:1s;
}

#box a:hover {
	background-color: white;
	color: black;
	font-weight: bold;
	transition:1s;
}


/* bagian kedua */

#kedua {
	background-color: #c0c0c0;
	text-align: center;
	padding-bottom: 20px;
}

#kedua img {
	width: 250px;
	height: 250px;
	border-radius:50%;
}
