header {
	margin-bottom: 2em;
}
.popular-additional h4 {
	font-size: 1.125em;
	margin-top: 0.4em;
}
.row .row.popular-main {
	margin-bottom: 1.5em;
}
.row .row.latest-post {
	margin-bottom: 1.5em;
}
.latest-post h4 {
	margin-top: 0;
	font-size: 1.125em;
}
ul.accordion  {
	margin-left: 0;
}

