<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>. a <em itemprop="jobTitle">{{ site.author.job }}</em>.<br>
      <strong class="author-name">I'm from</strong> Earth <br>
      <strong class="author-name">I create</strong> Websites with love <br>
      <strong class="author-name">I like</strong> Start all the things from scratch <br>
      <strong class="author-name">Freelance</strong> Available <br>
      
    </p>
  </div>
</section>
